body {
    background-color: #000;
}

.demo {
    margin: 0px auto;
    width: 500px;
}

.box {
    position: relative;
    height: 400px;
    margin-top: 400px
}

.leaf {
    position: absolute;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    border-radius: 200px 0px;
    background: -webkit-linear-gradient(45deg, rgba(188, 190, 192, 1) 8%, rgba(158, 31, 99, 1) 30%, rgba(158, 31, 99, 1) 100%);
    opacity: .6;
    filter: alpha(opacity = 50);
    -webkit-transform-origin: top right;
}

@-webkit-keyframes show-2 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(45deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-3 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(65deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-4 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(85deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-5 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(105deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}


@-webkit-keyframes show-6 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(165deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-7 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(185deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-8 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(205deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

@-webkit-keyframes show-9 {
    0% {
    -webkit-transform: rotate(135deg);
    }
    50% {
    -webkit-transform: rotate(225deg);
    }
    100%{
    -webkit-transform: rotate(135deg);
    }
}

.leaf:nth-child(1) {
    -webkit-transform: rotate(135deg)
}

.leaf:nth-child(2) {
    animation: show-2 6s ease-in-out infinite;
    -webkit-animation: show-2 6s ease-in-out infinite;
}

.leaf:nth-child(3) {
    animation: show-3 6s ease-in-out infinite;
    -webkit-animation: show-3 6s ease-in-out infinite;
}
.leaf:nth-child(4) {
    animation: show-4 6s ease-in-out infinite;
    -webkit-animation: show-4 6s ease-in-out infinite;
}
.leaf:nth-child(5) {
    animation: show-5 6s ease-in-out infinite;
    -webkit-animation: show-5 6s ease-in-out infinite;
}
.leaf:nth-child(6) {
    animation: show-6 6s ease-in-out infinite;
    -webkit-animation: show-6 6s ease-in-out infinite;
}
.leaf:nth-child(7) {
    animation: show-7 6s ease-in-out infinite;
    -webkit-animation: show-7 6s ease-in-out infinite;
}
.leaf:nth-child(8) {
    animation: show-8 6s ease-in-out infinite;
    -webkit-animation: show-8 6s ease-in-out infinite;
}
.leaf:nth-child(9) {
    animation: show-9 6s ease-in-out infinite;
    -webkit-animation: show-9 6s ease-in-out infinite;
}